src/FAR.EL.WebApp/Connected Services/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FAR.EL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAR.EL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:LoginType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginModel" nillable="true" type="tns:LoginModel" />
  <xs:simpleType name="LoginType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="User" />
      <xs:enumeration value="Dr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginType" nillable="true" type="tns:LoginType" />
  <xs:complexType name="RegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterModel" nillable="true" type="tns:RegisterModel" />
  <xs:complexType name="ArrayOfGetDrModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetDrModel" nillable="true" type="tns:GetDrModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetDrModel" nillable="true" type="tns:ArrayOfGetDrModel" />
  <xs:complexType name="GetDrModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDrModel" nillable="true" type="tns:GetDrModel" />
</xs:schema>