src/FAR.EL.WinApp/Connected Services/UserServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63952/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FAR.EL.Models" />
  <xs:import schemaLocation="http://localhost:63952/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FAR.EL.Common" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FAR.EL.Models" minOccurs="0" name="model" nillable="true" type="q1:LoginModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FAR.EL.Common" minOccurs="0" name="LoginResult" nillable="true" type="q2:ELResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FAR.EL.Models" minOccurs="0" name="model" nillable="true" type="q3:RegisterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FAR.EL.Common" minOccurs="0" name="RegisterResult" nillable="true" type="q4:ELResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FAR.EL.Models" minOccurs="0" name="GetDrResult" nillable="true" type="q5:ArrayOfGetDrModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>